In [1]:
import os
import dotenv
import pandas as pd
from neo4j import GraphDatabase

from scripts.db_driver import DBDriver

dotenv.load_dotenv()

True

In [2]:
driver = DBDriver(
    url=os.environ['NEO4J_URL'],
    user=os.environ['NEO4J_USER'],
    password=os.environ['NEO4J_PASSWORD']
)

INFO:scripts.db_driver:connected to neoj4 instance

### get component statistics

#### nodes

In [3]:
res_df = driver.select_as_df("""
        match (n)
        return distinct n.componentId as component_id,
        count(n) as nodes_count,
        collect(distinct labels(n)) as component_labels
        order by nodes_count desc
    """)

INFO:scripts.db_driver:query executed successfully
INFO:scripts.db_driver:got 831795 items

In [4]:
component_df = res_df

In [9]:
component_df.groupby('nodes_count').count()

             component_id  component_labels
nodes_count
1                  829293            829293
2                     900               900
3                     504               504
4                     233               233
5                     187               187
...                   ...               ...
424                     1                 1
824                     0                 1
957                     1                 1
1659                    1                 1
531606                  1                 1

[84 rows x 2 columns]